@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to right, #15294F,#00778A);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #15294fcb;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    text-align: center;
    text-shadow: 1px 1px 2px #4d0b00d8;
    color: #BD1C00;
}

h2 {
    color: #D94100;
}

p {
    text-align: justify;
 }